/* Basic reset */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sorts Mill Goudy', serif;
    color: #333;
    line-height: 1.9;
    background-color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.company-name a {
    font-size: 2.9rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: relative;
    right: 50px;
    font-size: 1.2rem;
}

.navbar .nav-links li {
    display: inline-block;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-image: url('https://i.imghippo.com/files/VdSU51724857657.webp'); 
    background-size: cover;
    background-position: center;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 0;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta {
    background-color: transparent;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* About Us Section */
.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 5%;
    background-color: black;
    color: white;
    height: 300px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.about-content {
    width: 50%;
    z-index: 2;
}

.about-content h2 {
    font-size: 2.7rem;
    margin-bottom: 20px;
    margin-left: 70px;
}

.about-content p {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    max-width: 80%;
    margin-left: 70px;
}

.about-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 120%;
    overflow: hidden;
    transform: translateY(40px);
    margin-right: 90px;
}

.about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* Services Section */
.services {
    background-color: white;
    color: black;
    padding: 80px 15%;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service img {
    width: 35%;
    height: auto;
    margin-right: 40px;
}

.service-content {
    width: 55%;
    text-align: left;
}

.service-content h3 {
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 10px;
}

.service-content p {
    font-size: 1.4rem;
    text-align: left;
    line-height: 2.0;
    margin: 0;
}

.service-content.right {
    order: -1;
    margin-left: 40px;
    margin-right: 0;
}

/* Featured Projects Section */
.featured-projects {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}

.featured-projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.featured-projects p {
    font-size: 1.4rem;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.featured-projects .project {
    display: inline-block;
    width: 30%;
    margin: 0 10px;
    vertical-align: top;
}

.featured-projects img {
    width: 100%;
    height: auto;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: black;
    color: white;
}

.featured-projects .cta-container {
    text-align: center;
    margin-top: 20px;
}

/* Portfolio Section */
.portfolio-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    max-width: 1400px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Contact Section */
.contact {
    padding: 60px 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form label {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.contact form input, .contact form textarea {
    width: 300px;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact form button {
    background-color: #242e1a;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #1d2615;
}

footer img {
    display: block;
    width: 100%;
    height: 150px; /* Set the image to fit the footer height */
    object-fit: cover; /* Ensure the image covers the area */
    object-position: left top; /* Ensure the left part of the image is always visible */
    z-index: 0;
    position: relative; /* Ensures the text is layered above */
}

footer .contact-phone,
footer .contact-hours,
footer .contact-address {
    color: black; /* Black text color */
    font-size: 1.2rem; /* Appropriate size for readability */
    margin: 5px 0; /* Space out the lines */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
}

footer .contact-phone {
    margin-top: 20px; /* Adjust vertical positioning */
}

footer .contact-hours {
    margin-top: 10px; /* Adjust vertical positioning */
}

footer .contact-address {
    margin-top: 10px; /* Adjust vertical positioning */
}

/* Contact Info Design */
footer .contact-info {
    position: absolute;
    top: 50%; /* Adjust this value to move the text lower onto the image */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

footer .contact-phone,
footer .contact-address,
footer .contact-hours {
    margin: 10px 0; /* Increased margin to ensure spacing between lines */
    line-height: 1.5; /* Ensure enough space between lines */
}

/* Remove unnecessary elements */
footer .lightbox-arrow, /* Removes any residual lightbox arrows */
footer .contact-info > *:not(.contact-phone):not(.contact-address):not(.contact-hours) {
    display: none; /* Hides any other elements except for the contact info */
}

/* Lightbox for Portfolio Images */
.lightbox-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.lightbox-image {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 0px 20px #fff;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.lightbox-arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.lightbox-arrow.left {
    left: 20px;
}

.lightbox-arrow.right {
    right: 20px;
}

/* Responsive Adjustments */
 @media (max-width: 768px) {
        .navbar {
            padding: 7px 15px; /* Reduce navbar padding */
        }
    
        .company-name a {
            font-size: 1.7rem; /* Make title smaller */
        }
    
        .navbar .nav-links {
            display: none; /* Hide the nav links by default */
        }
    
        .hamburger-icon {
            display: block;
            font-size: 2rem; /* Hamburger menu */
            cursor: pointer;
        }
    
        .navbar .nav-links.active {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.8); /* Dark background */
            position: absolute;
            top: 40px;
            right: 0;
            width: 100%;
            padding: 10px;
        }
    
        .hero-content h1 {
            font-size: 2.5rem; /* Smaller hero text */
        }
    
        .hero-content p {
            font-size: 1.2rem; /* Smaller hero text */
        }
    
        .about {
            flex-direction: column;
            padding: 20px 5%; /* Less padding on mobile */
            height: auto;
        }
    
        .about-content {
            width: 100%;
            text-align: center; /* Center text */
            margin: 0;
        }
    
        .about-content h2, .about-content p {
            margin-left: 0;
        }
    
        .about-image {
            position: relative;
            width: 100%;
            height: auto;
            margin: 0;
            transform: none; /* No transform on mobile */
        }
    
        .services {
            padding: 20px 5%; /* Adjusted padding */
        }
    
        .service {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            text-align: left;
        }
    
        .service h3 {
            order: 1; /* Title comes first */
            font-size: 1.8rem;
            margin-bottom: 10px;
            text-align: center;
            width: 100%;
        }
    
        .service-content {
            order: 2; /* Text comes second */
            text-align: left; /* Reverting text alignment */
            width: 100%;
            font-size: 1.5rem; /* Reverting to previous text size */
            margin: 0;
        }
    
        .service img {
            order: 3; /* Image comes last */
            width: 100%;
            max-width: 100%;
            margin: 10px 0;
        }
    
        /* Specific adjustments for Garden Suites section */
        .service-content.right {
            margin-left: 0; /* Ensure no left space for Garden Suites text */
            margin-right: 0; /* Ensure no right space for Garden Suites text */
        }

    footer .contact-info {
        position: absolute;
        top: 45%; /* Adjust this value to position the text vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        text-align: center; /* Center the text within the container */
        width: auto; /* Allows content to resize based on text */
        font-size: 0.8rem; /* Appropriate size for readability */
        font-weight: bold; /* Make the text bold */
        color: black; /* Black text color */
    }

    footer p {
        font-size: 0.8rem; /* Smaller text size for mobile */
        right: 10px; /* Adjust right padding for mobile */
        text-align: center; /* Center the "All rights reserved" text */
    }

    footer .contact-phone,
    footer .contact-address,
    footer .contact-hours {
        color: black; /* Black text color */
        font-size: 1.2rem; /* Appropriate size for readability */
        margin: 5px 0; /* Space out the lines */
        font-weight: bold; /* Make the text bold */
    }
}
